---
import Layout from '@/layouts/Layout.astro';
import PaypalSvg from '@/components/logos/PaypalSvg.astro';
import MercadoPagoSvg from '@/components/logos/MercadoPagoSvg.astro';
import WaitingButton from '@/components/WaitingButton';
import PaymentButton from '@/components/PaymentButton.astro';

import { generateFreeJwtToken } from '@/providers/jwt';

const { slug } = Astro.params;

const product = {
  id: 'test',
  title: 'Test Asset',
  currency: 'PEN',
  description: 'This is a simple Asset',
  price: 510,
  photo: null,
  discount: 0,
  status: 0,
  created_at: new Date('2024-10-15T03:38:14.318Z'),
};

product.price /= 100;

const price =
  product.price == null || product.price <= 0
    ? 'FREE'
    : parseFloat(`${product.price}`).toFixed(2);

const tokenFree = generateFreeJwtToken();
---

<Layout title='Product'>
  <section class='container mx-auto pt-14'>
    <div></div>
    <div>
      <h1>{product.title}</h1>
      <p>{product.description}</p>
      <span>{price}</span>
      <div class='flex gap-4'>
        <WaitingButton
          href={`/api/storage/${slug}/?free=${tokenFree}`}
          time={20}
          client:visible
        />

        <PaymentButton href='/api/payment/paypal' variant='paypal'>
          <PaypalSvg class='size-4' />
          <span>Buy with Paypal</span>
        </PaymentButton>
        <PaymentButton href='/api/payment/mercadopago' variant='mercadopago'>
          <MercadoPagoSvg class='size-4' />
          <span>Buy with Mercado Pago</span>
        </PaymentButton>
      </div>
    </div>
  </section>
</Layout>
